.epic {
  background-color:rgb(31, 31, 31);
  color: white;
  border-radius: 100px;
  font-family: 'Kumbh Sans', sans-serif;
}
.readed {
  background-color: rgb(77, 72, 72);
}
.cool {
    background-color: #a7fffb;
    border:none;
    padding: 20px 25px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 50px;
    opacity: 0.8;
    transition: 0.5s;
    border-radius: 20px;
    outline: none;
}

.cool:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: 0px 10px #a7fffb73;
}

.bigbreak{
    top: 20px;
    break-before: always;
}

input[type=text] {
  width: 80%;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;  
}